@font-face {
    font-family: 'game-font';
    src: url('/fonts/zig_____.eot');
    src: url('/fonts/zig_____.eot?#iefix') format('embedded-opentype'),
         url('/fonts/zig_____.woff2') format('woff2'),
         url('/fonts/zig_____.ttf') format('truetype'),
         url('/fonts/zig_____.svg#zigregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
