.terminal-style {
  font-size: 20px;
  font-family: $game-font;
  color: lightgreen;
  background: black;
}
#terminal {
  height: 50%;
  input {
    border: none;
    // display: inline-block;
    // color: transparent;
    // text-shadow: 0 0 0 lightgreen;
    &:focus {
      outline: none;
    }
  }
  .Typist {
    // display: inline-block;
  }
}
